body{
    background-image:url(wallhaven.png);
}
fieldset{
    position: relative;
    top: 150px;
    left: 550px;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
}

input{
    height:30px;
    width: 350px;
}
input[type=submit]{
    background-color: navy;
    color: white;
    border-radius:3px;
}
div{
    height: 50px;
    width: 50px;
    background-color: rgba(17, 8, 86, 0.093);
    position: relative;
    left: 940px;
    top: -170px;
    z-index: 1;
    border-radius:5px;
}